$bg-grey : #727272
$fg-lightblue : #07666c
$fg-darkblue : #141431

@import "reset.sass"
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700)
body
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  background-image: url('../images/BG_v1.1.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center center

.bootstrapper
  padding: 10px
.Wikimedia
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: $bg-grey
  .top
    font-size: 12px
    font-weight: 300
    letter-spacing: 3px
  .mid
    max-width: 80px
    .logo
      width: 80px
  .bottom
    text-transform: uppercase
    font-size: 14px
    letter-spacing: 3px
    font-weight: 400
.title
  text-align: center
  font-size: 26pt
  letter-spacing: 16px
  font-weight: 700
  text-transform: uppercase
  color: $fg-lightblue
  margin: 12px 0
.functional
  display: flex
  justify-content: space-around
  text-align: center
  @media screen and (max-width: 800px)
    flex-direction: column
    align-items: center
  .left
    margin-left: 5%
    @media screen and (max-width: 800px)
      margin: 0
      margin-bottom: 40px
  .right
    margin-right: 5%
    @media screen and (max-width: 800px)
      margin: 0
  .head
    font-size: 36pt
    letter-spacing: 16px
    font-weight: 300
    text-transform: uppercase
    color: $fg-darkblue
    margin: 12px 0
  .description
    font-size: 14px
    color: $fg-lightblue
  .icon
    margin-top: 12px
    color: $fg-lightblue
    font-size: 106px
