<div class="suggession-template" ng-controller="suggession">
  <div class="header">
    <div class="close">
      <i class="fa fa-close" ng-click="close()"></i>
    </div>
    <div class="search-box">
      <h2>this is wassup with:</h2>
      <h1>{{search}}</h1>
    </div>
  </div>
  <div class="suggession-container">
    <div class="suggession-element" ng-repeat="suggession in suggessions">
      <div class="text">
        <div class="title">
          <h3>{{suggession.title}}</h3>
        </div>
        <div class="description">
          {{suggession.description}}
        </div>
      </div>
      <div class="icon">
        <a ng-href="#/suggessions/{{suggession.id}}"><img ng-src="app/images/{{suggession.icon.link}}"
           alt="{{suggession.icon.alt}}" class="" style="max-width:400px;"/></a>
      </div>
    </div>
  </div>
</div>
